*{
    padding: 0;
    margin: 0;
}
.header-container{
    position:relative;
    left:50%;
    width:70%;
    height:72vh;
    transform: translate(-50%,0);
}
#moon{
    top:1%;
    position: relative;
    width:100%;
    height: 100%;
    animation-name: moonanimation;
    }
.bodycontainer{
display: flex;
flex-direction: column;
position:relative;
width:93%;
height:100vh;
left:50%;
transform: translate(-50%,0);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
#title{
    position: relative;
    top:2%;
    left:50%;
    width: 100%;
    text-align: center;
    transform:translate(-50%,0);
    color:white;
    font-size:40px;
    text-decoration: underline;
}
.imageholder{
    display: flex;
    flex-direction: row;
    position: relative;
    top:5%;
    width:70%;
    height:80%;
    left:50%;
    transform: translate(-50%,0);
    background-color: red;
}
#frontimg{
    position: relative;
    top:50%;
    left:50%;
    width:100%;
    transform: translate(-50%,-35%);
}
#leftimg{
    position: relative;
    left:20%;
}